<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00</key>
	<string>晴</string>
	<key>01</key>
	<string>多云</string>
	<key>02</key>
	<string>阴</string>
	<key>03</key>
	<string>阵雨</string>
	<key>04</key>
	<string>雷阵雨</string>
	<key>05</key>
	<string>雷阵雨伴有冰雹</string>
	<key>06</key>
	<string>雨夹雪</string>
	<key>07</key>
	<string>小雨</string>
	<key>08</key>
	<string>中雨</string>
	<key>09</key>
	<string>大雨</string>
	<key>10</key>
	<string>暴雨</string>
	<key>11</key>
	<string>大暴雨</string>
	<key>12</key>
	<string>特大暴雨</string>
	<key>13</key>
	<string>阵雪</string>
	<key>14</key>
	<string>小雪</string>
	<key>15</key>
	<string>中雪</string>
	<key>16</key>
	<string>大雪</string>
	<key>17</key>
	<string>暴雪</string>
	<key>18</key>
	<string>雾</string>
	<key>19</key>
	<string>冻雨</string>
	<key>20</key>
	<string>沙尘暴</string>
	<key>21</key>
	<string>小雨-中雨</string>
	<key>22</key>
	<string>中雨-大雨</string>
	<key>23</key>
	<string>大雨-暴雨</string>
	<key>24</key>
	<string>暴雨-大暴雨</string>
	<key>25</key>
	<string>大暴雨-特大暴雨</string>
	<key>26</key>
	<string>小雪-中雪</string>
	<key>27</key>
	<string>中雪-大雪</string>
	<key>28</key>
	<string>大雪-暴雪</string>
	<key>29</key>
	<string>浮尘</string>
	<key>30</key>
	<string>扬沙</string>
	<key>31</key>
	<string>强沙尘暴</string>
	<key>53</key>
	<string>霾</string>
</dict>
</plist>
